<!DOCTYPE html>
<html>
<head>
  <title>Qandq</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>

  <%= form_tag(search_path, method: "get") do %>
    <%= text_field_tag(:q, params[:q], placeholder: "Search") %>
    <%= select_tag(:a, options_for_select(Search::AREAS_FOR_SELECT)) %>
    <%= submit_tag("Search", id: "search_button") %>
  <% end %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>

</body>
</html>
